<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	
	<listeners>
		<listener
			class-name="org.uncommons.reportng.HTMLReporter" />
			<listener
			class-name="org.uncommons.reportng.JUnitXMLReporter" />
			<listener
			class-name="com.FW.Listerners.TestListeners" />
	</listeners>
	
  <test name="BankManagerLogin">
    <classes>
      <class name="com.FW.testcases.BankManagerLogin"/>
    </classes>
  </test> <!-- Test -->
   <test name="AddNewCustomer">
    <classes>
      <class name="com.FW.testcases.AddNewCustomer"/>
      
    </classes>
  </test> <!-- Test -->
  <test name="OpenAccount">
    <classes>
      <class name="com.FW.testcases.OpenAccount"/>
      
    </classes>
  </test> 
  
</suite> <!-- Suite -->
